html,
body,
canvas {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  width: 100%;
  height: 100%;
}

body {
  background-color: #711085;
  padding: 0px;
}

#mapCanvas {
  /* border: 1px solid #000000; */
  background-color: #84e1f2;

  margin: 0px;
  width: calc(100vw - ((100vw - 100%)));
  height: calc(100vh - ((100vw - 100%)));
}

#canvasSection {
    margin: 0px;
}


